body {
  background: orange;

}

.containerDiv {
    width: 80%;
    margin: 0 auto;
    
}


.mainDiv {
    width: 50%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    background: lightblue;
    padding: 2%;
  }

  .img-thumbnail {
    margin-right: 2%;
  }
  
 .pText {
   text-align: justify;
 }
  
  h3 {
    line-height: 2;
  }

  .jumbotron {
    margin-top: 2%;
    border: 4px solid black;

  }